<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<center><strong><a href="#">Gertrude Stein's Grammars</a></strong></center>
			Description of Slab project
		</h5>
		<h5>
			<center><strong><a href="#">The Word and the Bit: Information and 20th/21st Century Literature</a></strong></center>
			Description of dissertation
		</h5>
		<h5>
			<center><strong><a href="#">DASH-Amerikan: Keeping Up with the Social Media Ecologies of the Kardashians.</a></strong></center>
			Description of project
		</h5>

    </div>
  </div>
</div>
</section>
