<section id="projects">
<div class="container">
  <h3>CV</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h3>
			Education
            <h6>
                <ul>Ph.D in English, University of Virginia, 2020.
                    <ul>Dissertation: <strong>The Word and the Bit: Information and 20th/21st Century Literature</strong></ul></ul>
                <ul>M.A. in English, University of Virginia, 2018. </ul>
                <ul>B.A. in English, Lewis & Clark College, 2013. <i>Magna Cum Laude</i> with Departmental Honors in English.</ul>
            </h6>
		</h3>

        <h3>
            Work experience
            <h6>
                <ul>Data Analyst at Gazelle International, June 2019-present</ul>
                <ul>Full time PhD student with fellowship support, August 2014-May 2020</ul>
                <ul>Workshops Consultant and Web Developer for DH@UVA certificate program, Fall/Spring 2018-2019</ul>
                <ul>Scholars' Lab at the University of Virginia. Makerspace Technologist, 2015-2019</ul>
            </h6>
        </h3>

        <h3>
            Technical skills
            <h6>
                <ul>Python, Javascript, Ruby </ul>
                <ul>Web frameworks: Django, Rails, Node.js, Express</ul>
                <ul>Frontend frameworks: React, React Native, Redux</ul>
                <ul>Test-driven development with Selenium</ul>
                <ul>Databases: Postgres, MariaDB/Mysql, MongoDB</ul>
                <ul>Natural language processing with NLTK and SpaCy</ul>
                <ul>DevOps: hosting and configuring web applications on Linux with Nginx</ul>
                <ul>Statistics and data science: experience with R and data visualization with Tableau</ul>
            </h6>
        </h3>

        <h3>
            Teaching
            <h6>
                <ul>Spring 2018, graduate student instructor, English 3030 “Global Cultural Studies.”</ul>
                <ul>Fall 2017, sole instructor for elective English course, “Text and Technology: Artificial Intelligence.”</ul>
                <ul>Fall/Spring 2015-6, sole instructor for Writing and Critical Inquiry, “Reading and Writing the Internet.”</ul>
            </h6>
        </h3>
        <h3>
            Publications
            <h6>
                <ul>Buysse, Jordan & Caticha, Alicia & Collins, Alyssa & Greenlee, Justin & McEleney, Sarah & Thompson, Joseph. "DASH-Amerikan: Keeping Up with the Social Media Ecologies of the Kardashians." American Quarterly, vol. 70 no. 3, 2018, pp. 609-611. Project MUSE, doi:10.1353/aq.2018.0041</ul>
            </h6>
        </h3>

        <h3>
            Conference Papers and Presentations
            <h6>
                <ul>“Reading Poetic Debris: Allison Parrish’s Articulations and Procedurally Generated Poetry,” Departmental Dissertation Presentation, March 2019.</ul>
                <ul>“DH Mentorship and Group Scholarship: A Year of Praxis in Review,” Canadian Society for Digital Humanities Conference, June 2017. </ul>
                <ul>“DASH-Amerikan: Keeping Up with the Kardashian Media Ecology,” Scholars’ Lab Graduate Fellows Panel with Alicia Caticha, Alyssa Collins, Justin Greenlee, Sarah McEleney and Joseph Thompson, May 2017.</ul>
                <ul>“Tender Buttons and Regular Expressions,” American Comparative Literature Association annual conference, March 2015.</ul>
                <ul>“Breaking The Waves: Deformance using the Python Programming Language,” Northeastern University Graduate Student Conference, April 2013.</ul>
                <ul>Dixon Award presentation: “James Joyce in Trieste,” November 2012, Lewis & Clark College.</ul>
                <ul>“In Yer Face Theatre: Discursive and Structural Violence in British Drama of the Nineties,” University of Ottawa Graduate Student Conference, March 2012.</ul>

            </h6>

        </h3>

        <h3>
            Grants and Awards
            <h6>
                <ul>Scholars’ Lab Fellow, AY 2019-2020</ul>
                <ul>Praxis Fellow, AY 2016-2017</ul>
                <ul>UVA English Summer research grant, Summer 2018</ul>
                <ul>Humanities Intensive Learning & Teaching conference scholarship, Summer 2017</ul>
                <ul>Digital Humanities Summer Institute Scholarship, Summer 2016, 2019</ul>
            </h6>
        </h3>


    </div>
  </div>
</div>
</section>
